<!DOCTYPE html>
<head>
  <link href="/static/bower/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="/static/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/bower/jquery-mobile-bower/css/jquery.mobile-1.4.2.min.css" rel="stylesheet">
  <link href="/static/bower/jquery-mobile-datebox/css/jqm-datebox.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">

  <script src="/static/bower/jquery/jquery.min.js"></script>
  <script src="/static/bower/jquery-mobile-bower/js/jquery.mobile-1.4.2.min.js"></script>

  <script src="/static/bower/jquery-mousewheel/jquery.mousewheel.min.js"></script>

  <script src="/static/bower/jquery-mobile-datebox/js/jqm-datebox.core.js"></script>
  <script src="/static/bower/jquery-mobile-datebox/js/jqm-datebox.mode.flipbox.js"></script>
  <script src="/static/bower/jquery-mobile-datebox/i18n/genny/jquery.mobile.datebox.i18n.ru.utf8.js"></script>

  <script src="/static/bower/bootstrap/docs/assets/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>

  {% block head %}{% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Hangout{% endblock %}</title>
</head>
<body>
  <div class="content">
    <div data-role="page" id="home_page">
      <div data-theme="a" data-role="header">
        {% block menu %}{% endblock %}
        <h3>
          Hangout
        </h3>
      </div>
      <div data-role="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <div data-role="page" id="error_dialog">
      <div data-role="header">
        <h2>Сообщение</h2>
      </div>
      <div data-role="content">Ошибка!</div>
    </div>
    <a id='link_error_dialog' href="#error_dialog" data-rel="dialog" data-transition="pop"></a>
  </div>
</body>