{% extends "base.html" %}

{% block menu %}
  <a href="/" data-icon="home" data-iconpos="notext">Домой</a>
{% endblock %}

{% block content %}

<h3>Основная функция</h3>
Hangout позволяет автоматически организовывать встречи.

<h3>Главная страница</h3>
Тут вы можете изменять состояние вашей доступность - онлайн / оффлайн. Также вы можете написать краткое сообщение. После включения доступности ваше текущее местоположение будет отправлено на сервер, если позже оно измениться, вы сможете обновить его вручную - нажав на соответствующую кнопку.

<h3>Настройки</h3>
В настройках располагается список ваших друзей. Также там вы можете включить режим встречи “1 на 1”.<br>
В таблице списка друзей отображается новое выбранное состояние (<i class="icon-time"></i>) и действующее состояние (<i class="icon-thumbs-up"></i>) вашей видимости.<br>
Настройки видимости действуют только при включенном режиме “1 на 1”. Измененные настройки видимости будут применены только на следующий день.<br>
Также есть режим полной видимости, который вы можете включить в любое время и вы сразу будете видимы всем друзьям в списке.

<h3>Как это работает</h3>
Если вы хотите поучаствовать во встрече, вы включаете режим доступности. Если еще у двух (одного если включен режим “1 на 1”) или более пользователей тоже будет включена доступность, то в течении одной минуты всем у кого включена доступность придет смс информирующее о том кто участвует во встрече и ссылка на встречу. На странице встречи можно прочитать сообщения пользователей и посмотреть где они находятся. Также, случайным образом будет выбран <em>организатор</em>. Ему будет сообщено об этом в смс. Он должен всех обзвонить и договориться о встрече.<br>
Если встреча уже идет, то новому подключившемуся будет отправлено соответствующее смс, а также будет извещен один из участников встречи. Информация о новом участнике также будет добавлена на страницу встречи.
Встреча считается законченной когда в ней остался только 1 участник (когда все остальные выключили доступность)

{% endblock %}