{% extends "base.html" %}

{% block head %}
  <script src="/static/js/update_data.js"></script>
  <script>
  var visible_to_all = {% if data.visible_to_all %} 1 {% else %} 0 {% endif %};
  var one_on_one = {% if data.one_on_one %} 1 {% else %} 0 {% endif %};
  var sleep_time = "{{ data.sleep_disable_time|date:'H:i' }}";

  $(function() {
    $('#visible_to_all').val(visible_to_all);
    $('#one_on_one').val(one_on_one);
    $('#sleep_time').val(sleep_time);
    $('.slider').slider('refresh');
    $('.slider, #sleep_time').change(function() {
      update_data(this.name, this.value);
    });
  });

  function change_visibility(id, value) {
    $.post('/change-visibility/', {id: id, value: value},
      function(data) {
        if (value == 0) {
          var html = '<a href="javascript:change_visibility(' + id + ', 1)"><i class="icon-ban-circle"></i></a>';
        } else {
          var html = '<a href="javascript:change_visibility(' + id + ', 0)"><i class="icon-eye-open"></i></a>';
        }
        $('#visibility-' + id).html(html);
      }
    ).error(function() {
      $('#link_error_dialog').click();
    });
  }
  </script>
{% endblock %}

{% block menu %}
  <a href="/" data-icon="home" data-iconpos="notext">Домой</a>
{% endblock %}

{% block content %}
  <table class="table">
     <thead>
       <tr>
         <th><i class="icon-user"></i></th>
         <th><i class="icon-time"></i></th>
         <th><i class="icon-thumbs-up"></i></th>
       </tr>
     </thead>
     <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>
                {% if user.visible_updated %}
                  <div id="visibility-{{ user.id }}"><a href="javascript:change_visibility({{ user.id }}, 0)"><i class="icon-eye-open"></i></a></div>
                {% else %}
                  <div id="visibility-{{ user.id }}"><a href="javascript:change_visibility({{ user.id }}, 1)"><i class="icon-ban-circle"></i></a></div>
                {% endif %}
            </td>
            <td>
                {% if user.visible %}
                  <i class="icon-eye-open"></i>
                {% else %}
                  <i class="icon-ban-circle"></i>
                {% endif %}
            </td>
          </tr>
        {% endfor %}
    </tbody>
    </table>
    <div class="text-center">
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <label for="visible_to_all">Видим всем</label>
        </div>
        <div class="ui-block-b">
          <select class="slider" name="visible_to_all" id="visible_to_all" data-role="slider">
            <option value="0">Выкл</option>
            <option value="1">Вкл</option>
          </select>
        </div>
        <div class="ui-block-a">
          <label for="one_on_one"><i class="icon-user"></i> <i class="icon-user"></i></label>
        </div>
        <div class="ui-block-b">
          <select class="slider" name="one_on_one" id="one_on_one" data-role="slider">
            <option value="0">Выкл</option>
            <option value="1">Вкл</option>
          </select>
        </div>
        <div class="ui-block-a">
          <label for="visible_to_all">Время авто-перехода в Оффлайн</label>
        </div>
        <div class="ui-block-b">
          <input id="sleep_time" name="sleep_time" type="text" data-role="datebox" data-options='{"useNewStyle":true, "mode": "timeflipbox", "useFocus": true, "useButton": false, "minuteStep": 60}'>
        </div>
      </fieldset>


    </div>
    <a data-role="button" href="/logout">
      Выход
    </a>
{% endblock %}
